<section id="page-title-area" class="section-padding overlay">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <h2>BİZE ULAŞIN</h2>
          <span class="title-line"><i class="fa fa-car"></i></span>
          <p>
            Sizlerden gelen her türlü geri bildirimi, ürün ve hizmetlerimizin
            kalitesinin ve iș süreçlerimizin iyileștirilmesini sağlayacak
            șekilde değerlendiriyor ve mükemmeli hedefleyerek müșteri odaklı bir
            yaklașım benimsiyoruz.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="contact-page-wrao section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 m-auto">
        <div class="contact-form">
          <form action="index.html">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="name-input">
                  <input type="text" placeholder="İsim Soyisim" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="email-input">
                  <input type="email" placeholder="Email Adres" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="website-input">
                  <input type="url" placeholder="Website" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="subject-input">
                  <input type="text" placeholder="Konu" />
                </div>
              </div>
            </div>
            <div class="message-input">
              <textarea
                name="review"
                cols="30"
                rows="10"
                placeholder="Mesaj"
              ></textarea>
            </div>
            <div class="input-submit">
              <button type="submit">Gönder</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

