<header id="header-area" class="fixed-top">
  <div id="header-top" class="d-none d-xl-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 text-left">
          <i class="fa fa-map-marker"></i> 34000, Taksim ,İstanbul
        </div>

        <div class="col-lg-3 text-center">
          <i class="fa fa-mobile"></i> +90 212 999 99 99
        </div>

        <div class="col-lg-3 text-center">
          <i class="fa fa-clock-o"></i> Pzt-Cuma 09.00 - 17.00
        </div>

      </div>
    </div>
  </div>

  <div id="header-bottom">
    <div class="container">
      <div class="row">
        <div class="slicknav_menu">
          <a
            href="#"
            aria-haspopup="true"
            role="button"
            tabindex="0"
            class="slicknav_btn slicknav_collapsed"
            ><span class="slicknav_menutxt"></span
            ><span class="slicknav_icon slicknav_no-text"
              ><span class="slicknav_icon-bar"></span
              ><span class="slicknav_icon-bar"></span
              ><span class="slicknav_icon-bar"></span></span
          ></a>
          <nav
            class="slicknav_nav slicknav_hidden"
            aria-hidden="true"
            role="menu"
            style="display: none"
          >
            <ul>
              <li class="slicknav_collapsed slicknav_parent">
                <a
                  href="#"
                  role="menuitem"
                  aria-haspopup="true"
                  tabindex="-1"
                  class="slicknav_item slicknav_row"
                  ><a href="#">Anasayfa</a>
                  <span class="slicknav_arrow">►</span></a
                >
              </li>
              <li><a href="about.html" role="menuitem">Hakkımızda</a></li>
              <li class="slicknav_collapsed slicknav_parent">
                <a
                  href="/cars"
                  role="menuitem"
                  aria-haspopup="true"
                  tabindex="-1"
                  routerLink="/cars"
                  class="slicknav_item slicknav_row"
                  ><a href="#">Araçlar</a>
                  <span class="slicknav_arrow">►</span></a
                >
                <ul
                  role="menu"
                  class="slicknav_hidden"
                  aria-hidden="true"
                  style="display: none"
                >
                  <li>
                    <a
                      href="car-left-sidebar.html"
                      role="menuitem"
                      tabindex="-1"
                      >Car Left Sidebar</a
                    >
                  </li>
                  <li>
                    <a
                      href="car-right-sidebar.html"
                      role="menuitem"
                      tabindex="-1"
                      >Car Right Sidebar</a
                    >
                  </li>
                  <li>
                    <a
                      href="car-without-sidebar.html"
                      role="menuitem"
                      tabindex="-1"
                      >Car Without Sidebar</a
                    >
                  </li>
                  <li>
                    <a href="car-details.html" role="menuitem" tabindex="-1"
                      >Car Details</a
                    >
                  </li>
                </ul>
              </li>       
              <li><a href="contact.html" role="menuitem">İLETİŞİM</a></li>
            </ul>
          </nav>
        </div>

        <div class="col-lg-4">
          <a href="index.html" class="logo">
            <img src="assets/images/logo.png" alt="" />
          </a>
        </div>

        <div class="col-lg-8 d-none d-xl-block">
          <nav class="mainmenu aligncenter">
            <ul>
              <li>
                <a href="">ANASAYFA</a>
              </li>
              <li><a href="about.html">HAKKIMIZDA</a></li>
              <li>
                <a href="/cars">ARAÇLAR</a>
                <ul>
                  <li><a href="/cars">Tüm Kiralık Araçlar</a></li>
                  <li>
                    <a href="car-right-sidebar.html">Ekonomik Araçlar</a>
                  </li>
                  <li>
                    <a href="car-without-sidebar.html">Konfor Araçlar</a>
                  </li>
                  <li><a href="car-details.html">Prestij Araçlar</a></li>
                </ul>
              </li>
              <li><a href="contact.html">İLETİŞİM</a></li>

            </ul>

           
          </nav>

           <nav class="mainmenu alignright">
           <ul>
                <li *ngIf="userLogged">
                <p-splitButton
                  [showTransitionOptions]="'50ms'"
                  [hideTransitionOptions]="'50ms'"
                  label="{{ userName }}"
                  icon="fa fa-user"
                  [model]="userItems"
                  styleClass="p-button-info"
                ></p-splitButton>
              </li>
              <li *ngIf="!userLogged">
                <p-splitButton
                  [showTransitionOptions]="'50ms'"
                  [hideTransitionOptions]="'50ms'"
                  label=""
                  icon="fa fa-user"
                  [model]="userItems"
                  styleClass="p-button-info"
                ></p-splitButton>
              </li>
            </ul>
            </nav>
        </div>
      </div>
    </div>
  </div>
</header>
