<section id="page-title-area" class="section-padding overlay">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <h2>HAKKIMIZDA</h2>
          <span class="title-line"><i class="fa fa-car"></i></span>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about-area" class="section-padding">
  <div class="container">
    <div class="row"></div>
    <div class="row">
      <div class="col-lg-6">
        <div class="display-table">
          <div class="display-table-cell">
            <div class="about-content">
              <p>
                Müşterilerimize en iyi hizmeti vermek kuruluşumuzun temel
                amacıdır. Bu amaç doğrultusunda, süregelen kaliteli servis
                imajımızı devam ettirebilmenin anahtarının müşterilerimizin
                memnuniyetinde olduğuna inanıyoruz.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="about-image">
          <img src="assets/images/about-car.png" alt="" />
        </div>
      </div>
    </div>

    <div class="about-feature-area">
      <div class="row">
        <div class="col-lg-4">
          <div class="about-feature-item active">
            <i class="fa fa-car"></i>
            <h3>Size Özel Atanmış Kurumsal Satış Danışmanı</h3>
            <p>
              Tüm soru ve taleplerini Kurumsal Satış danışmanına direkt olarak
              iletebilir, destek alabilirsin.
            </p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="about-feature-item">
            <i class="fa fa-car"></i>
            <h3>Türkiye'nin Her Yerinden Araç Kiralama</h3>
            <p>
              Türkiye’nin her yerinde yer alan ofislerimizden lüks segmentten
              ekonomik segmente kadar dilediğin aracı kiralayabilirsin.
            </p>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="about-feature-item">
            <i class="fa fa-car"></i>
            <h3>Size Özel Avantajlı Fiyatlar</h3>
            <p>
              Günlük ve aylık araç kiralamalarında sana özel yıl boyu avantajlı
              fiyatlar ile araç kiralayabilirsin.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
