<div *ngIf="carDetail" class="container row">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Aracı Güncelle</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="carUpdateForm" class="form">
          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <div class="form-group">
                  <p-dropdown
                    styleClass="form-select-sm"
                    id="selectBrand"
                    formControlName="brand"
                    [options]="brands"
                    [(ngModel)]="selectedBrand"
                    placeholder="Marka Seç"
                    optionLabel="brandName"
                    [showClear]="true"
                    [ngClass]="{
                      'is-invalid':
                        carUpdateForm.get('brand').touched &&
                        carUpdateForm.get('brand').invalid
                    }"
                  ></p-dropdown>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <p-dropdown
                  styleClass="form-select-sm"
                  id="selectColor"
                  formControlName="color"
                  [options]="colors"
                  [(ngModel)]="selectedColor"
                  placeholder="Renk Seç"
                  optionLabel="colorName"
                  [showClear]="true"
                ></p-dropdown>
              </div>
            </div>
          </div>

          <div class="form-floating mb-3">
            <input
              type="text"
              id="description"
              formControlName="description"
              class="form-control"
              placeholder="Aciklama"
              [ngClass]="{
                'is-invalid':
                  carUpdateForm.get('description').touched &&
                  carUpdateForm.get('description').invalid
              }"
            />
            <label for="description">Araç Tanımı</label>
          </div>

          <div class="form-floating mb-3">
            <input
              type="number"
              id="dailyPrice"
              formControlName="dailyPrice"
              class="form-control"
              placeholder="Günlük Fiyat"
              [ngClass]="{
                'is-invalid':
                  carUpdateForm.get('dailyPrice').touched &&
                  carUpdateForm.get('dailyPrice').invalid
              }"
            />
            <label for="dailyPrice"
              >Günlük Fiyat
              {{
                carUpdateForm.value.dailyPrice
                  | currency: "TRY":"symbol-narrow":"1.2-2"
              }}</label
            >
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input
                  type="number"
                  id="modelYear"
                  formControlName="modelYear"
                  class="form-control"
                  placeholder="Model Yılı"
                  [ngClass]="{
                    'is-invalid':
                      carUpdateForm.get('modelYear').touched &&
                      carUpdateForm.get('modelYear').invalid
                  }"
                />
                <label for="modelYear">Model Yılı</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input
                  type="number"
                  id="minFindeksScore"
                  formControlName="minFindeksScore"
                  class="form-control"
                  placeholder="Findeks Puani"
                  min="0"
                  max="1900"
                  [ngClass]="{
                    'is-invalid':
                      carUpdateForm.get('minFindeksScore').touched &&
                      carUpdateForm.get('minFindeksScore').invalid
                  }"
                />
                <label for="minFindeksScore">Findeks Puani</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <select
                  class="p-dropdown form-select-sm"
                  aria-label="Default select example"
                >
                  <option selected>Yakıt Türü</option>
                  <option value="1">Benzin</option>
                  <option value="2">Dizel</option>
                  <option value="3">Hybrid</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <select
                  class="p-dropdown form-select-sm"
                  aria-label="Default select example"
                >
                  <option selected>Vites Türü</option>
                  <option value="1">Manuel</option>
                  <option value="2">Otomatik</option>
                  <option value="3">Yarı Otomatik</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <div class="form-check">
                  <input
                    style="width: 14px"
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="chkParkingSensor"
                  />
                  <label class="form-check-label" for="chkParkingSensor">
                    Park Sensörü
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-6" style="padding-left: 28px">
              <div class="mb-3">
                <div class="form-check">
                  <input
                    style="width: 14px"
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="chkAbs"
                  />
                  <label class="form-check-label" for="chkAbs"> ABS </label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="rent-btn" (click)="updateCar()">Güncelle</button>

        <!-- Button trigger modal -->
        <button
          type="button"
          icon="fa fa-trash"
          class="btn btn-outline-danger float-end"
          data-bs-toggle="modal"
          data-bs-target="#deleteCar"
        ></button>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <app-car-images [car]="carDetail"></app-car-images>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="deleteCar"
  tabindex="-1"
  aria-labelledby="deleteCarLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteCarLabel">Araci Sil</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Araci silmek istediginizden emin misiniz?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Iptal
        </button>
        <button type="button" class="btn btn-danger" icon="fa fa-trash">
          Evet, sil
        </button>
      </div>
    </div>
  </div>
</div>
