<section id="page-title-area" class="section-padding overlay">
  <div class="container">
    <div class="row">
      <div style="padding-right: 15px; padding-left: 15px; width: 100%">
        <div class="section-title text-center">
          <h2>EN İYİSİ MESAFENİ KORU</h2>
          <span class="title-line"><i class="fa fa-car"></i></span>
          <p>Önceliğimiz sağlık ve güven.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="book-a-car">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="booka-car-content">
          <form action="index3.html">
            <div class="pick-location bookinput-item">
              <select class="custom-select">
                <option selected="">Alınacak Yer</option>
                <option value="1">Bakırköy</option>
                <option value="2">Yenibosna</option>
                <option value="3">Sabiha Gökçen Havalanı</option>
                <option value="3">Taksim</option>
              </select>
            </div>
            <div class="pick-date bookinput-item">
              <div style="position: relative; display: table">
                <input
                  name="startDate"
                  data-type="datepicker"
                  data-datepicker="true"
                  type="date"
                  class="form-control gj-datepicker gj-datepicker-bootstrap"
                  id="rent-start-date"
                  placeholder="Alış Tarihi"
                />
              </div>
            </div>
            <div class="retern-date bookinput-item">
              <input
                name="endDate"
                data-type="datepicker"
                data-datepicker="true"
                type="date"
                class="form-control"
                id="rent-end-date"
                placeholder="Bir gün seçiniz."
              />
            </div>
            <div class="car-choose bookinput-item">
              <select class="custom-select">
                <option selected="">Araba Seç</option>
                <option value="1">BMW</option>
                <option value="2">Audi</option>
                <option value="3">Lexus</option>
              </select>
            </div>
            <div class="bookcar-btn bookinput-item">
              <button type="submit">Araçları Göster</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="service-area" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <h2>HİZMETLERİMİZ</h2>
          <span class="title-line"><i class="fa fa-car"></i></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <div style="display: flex; align-items: flex-start">
            <div class="service-icon">
              <span></span>
              <img src="assets/images/services/service-icon-1.png" alt="" />
            </div>
            <div class="media-body">
              <h4>ARAÇ KİRALAMA</h4>
              <p>
                Rent a car ya da araç kiralama hizmeti, herkes için günümüzde
                önemli bir ihtiyaç haline gelmiştir. İhtiyaçlar doğrultusunda
                ister günlük ister aylık araç kiralanabilmektedir.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <div style="display: flex; align-items: flex-start">
            <div class="service-icon">
              <span></span>
              <img src="assets/images/services/service-icon-2.png" alt="" />
            </div>
            <div class="media-body">
              <h4>KURUMSAL ARAÇ KİRALAMA</h4>
              <p>
                Kurumsal Kısa Dönem Araç Kiralamada mükemmel hizmet deneyimi
                arıyorsan, seni en iyi biz anlarız. Yolculukların senin için
                keyif olacaktır.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <div style="display: flex; align-items: flex-start">
            <div class="service-icon">
              <span></span>
              <img src="assets/images/services/service-icon-3.png" alt="" />
            </div>
            <div class="media-body">
              <h4>TAKSİ HİZMETİ</h4>
              <p>
                Şoförlü araç kiralama hizmeti, gideceğiniz lokasyona güvenli ve
                konforlu bir şekilde ulaşmanızı sağlayan bir hizmettir. Özel
                günlerde veya iş seyahatlerinde sıklıkla tercih edilen şoförlü
                araç kiralama hizmeti hakkında tüm detaylar aşağıdaki gibidir.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <div style="display: flex; align-items: flex-start">
            <div class="service-icon">
              <span></span>
              <img src="assets/images/services/service-icon-4.png" alt="" />
            </div>
            <div class="media-body">
              <h4>HAYAT SİGORTASI</h4>
              <p>
                Araç kiralamada sunduğumuz güvence paketleriyle keyifli
                seyahatler dileriz.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <div style="display: flex; align-items: flex-start">
            <div class="service-icon">
              <span></span>
              <img src="assets/images/services/service-icon-5.png" alt="" />
            </div>
            <div class="media-body">
              <h4>ARAÇ YIKAMA</h4>
              <p>
                Önceliğimiz sağlığınız. Araçlarımız her zaman yıkanarak ve
                dezenfekte edilerek hizmetinize sunulur.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <div style="display: flex; align-items: flex-start">
            <div class="service-icon">
              <span></span>
              <img src="assets/images/services/service-icon-6.png" alt="" />
            </div>
            <div class="media-body">
              <h4>ŞÖFÖRLÜ KİRALAMA</h4>
              <p>
                Harika Limuzinlerimizden güzel biriyle tam bir gece ve yarım gün
                boyunca ünlü olabilirsiniz.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="funfact-area" class="overlay section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 col-md-12 m-auto">
        <div class="funfact-content-wrap">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="single-funfact">
                <div class="funfact-icon">
                  <i class="fa fa-smile-o"></i>
                </div>
                <div class="funfact-content">
                  <p><span class="counter">550</span>+</p>
                  <h4>MUTLU MÜŞTERİLER</h4>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="single-funfact">
                <div class="funfact-icon">
                  <i class="fa fa-car"></i>
                </div>
                <div class="funfact-content">
                  <p><span class="counter">250</span>+</p>
                  <h4>STOKTAKİ ARAÇLAR</h4>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="single-funfact">
                <div class="funfact-icon">
                  <i class="fa fa-bank"></i>
                </div>
                <div class="funfact-content">
                  <p><span class="counter">50</span>+</p>
                  <h4>ŞEHİRLERDEKİ OFİS</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="choose-car" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <h2>Aracınızı SEÇİN</h2>
          <span class="title-line"><i class="fa fa-car"></i></span>
          <p>Tüm araçlarımızı kaliteli ekibimizle hizmetinize sunuyoruz</p>
        </div>
      </div>
    </div>
    <div class="carousel align-middle">
      <p-carousel [value]="cars" [numVisible]="3" [numScroll]="1">
        <ng-template let-car pTemplate="item">
          <div class="single-popular-car">
            <div class="p-car-thumbnails">
              <a class="car-hover" href="{{ car.previewImagePath }}">
                <img
                  style="object-fit: cover"
                  src="{{ car.previewImagePath }}"
                  width="350px"
                  height="350px"
                  alt=""
                />
              </a>
            </div>
            <div class="p-car-content">
              <h3>
                <a href="#">{{ car.description }}</a>
                <span class="price"
                  ><i class="fa fa-tag"></i>{{ car.dailyPrice }} TL /gün</span
                >
              </h3>
              <h5>HATCHBACK</h5>
              <div class="p-car-feature">
                <a href="#">{{ car.modelYear }}</a>
                <a href="#" *ngIf="car.fuel == 1">BENZİN</a>
                <a href="#" *ngIf="car.fuel == 2">DİZEL</a>
                <a href="#" *ngIf="car.fuel == 3">HYBRİD</a>

                <a href="#" *ngIf="car.gear == 1">MANUEL</a>
                <a href="#" *ngIf="car.gear == 2">OTOMATİK</a>
                <a href="#" *ngIf="car.gear == 3">YARI OTOMATİK</a>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</section>

<div class="container"></div>
