<div *ngIf="car" class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h5 class="title">Kirala</h5></div>
      <div class="card-body">
        <form>
          <div class="mb3">
            <div class="form-group">
              <label for="daily-price" class="form-label">Günlük Ücret:</label>
              <input
                [value]="
                  car.dailyPrice | currency: 'TRY':'symbol-narrow':'1.2-2'
                "
                disabled="disabled"
                type="text"
                class="form-control"
                id="daily-price"
              />
            </div>
          </div>
          <div class="mb3">
            <div class="form-group">

              <label for="rent-date" class="form-label">Başlangıç:</label>
              <input
                min="{{ minDate }}"
                (change)="controlEndDate()"
                [(ngModel)]="startDate"
                name="startDate"
                type="date"
                value="{{ minDate }}"
                class="form-control"
                id="rent-start-date"
                placeholder="Bir gün seçiniz."
              />
            </div>
          </div>
          <div class="mb3">
            <div class="form-group">
              <label for="return-date" class="form-label">Bitiş:</label>
              <input
                [disabled]="!startDate"
                min="{{ startDate }}"
                max="{{ maxDate }}"
                [(ngModel)]="endDate"
                name="endDate"
                (change)="setRentable()"
                type="date"
                date date-format="yyyy-MM-dd"
                value="{{ startDate }}"
                class="form-control"
                id="rent-end-date"
                placeholder="Bir gün seçiniz."
              />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button
          [disabled]="!(startDate && endDate)"
          (click)="addRental()"
          type="button"
          class="rent-btn"
          data-bs-dismiss="modal"
        >
          Kirala
        </button>
      </div>
    </div>
  </div>
</div>
