<p-confirmDialog
  styleClass="card"
  appendToBody="true"
  #branddelete
  header="Marka Silme İşlemi"
  icon="fa fa-question-circle"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
>
  <p-footer>
    <div class="card-footer">
      <button
        class="rent-btn"
        type="button"
        pButton
        icon="pi pi-times"
        label="Iptal"
        (click)="branddelete.reject()"
      ></button>
      <button
        class="rent-btn"
        type="button"
        pButton
        icon="pi pi-check"
        label="Evet"
        (click)="branddelete.accept()"
      ></button>
    </div>
  </p-footer>
</p-confirmDialog>
<p-table
  #cartable
  [columns]="cols"
  [value]="brands"
  sortMode="multiple"
  [paginator]="true"
  [globalFilterFields]="['id', 'name']"
  [rows]="15"
>
  <ng-template pTemplate="caption">
    <h6 class="alignleft">MARKALAR</h6>
    <span class="alignright">
      <i class="pi pi-search"></i>
      <input
        style="margin-left: 10px"
        pInputText
        type="text"
        (input)="cartable.filterGlobal($any($event.target).value, 'contains')"
        placeholder="Arama yap"
      />
    </span>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
      <th>
        <p-button
          icon="fa fa-plus"
          styleClass="rent-btn"
          (click)="add()"
        ></p-button>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-brand let-columns="columns">
    <tr>
      <td>
        {{ brand.id }}
      </td>
      <td>
        {{ brand.brandName }}
      </td>
      <td>
        <p-button
          icon="fa fa-refresh"
          styleClass="rent-btn"
          (click)="update(brand)"
        ></p-button>
        <p-button
          icon="pi pi-fw pi-trash"
          styleClass="rent-btn"
          (click)="delete(brand)"
        ></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
